{% extends 'base.html' %}
{% block content %}
<main>
    <div class="card">
        {% if form.errors %}
        <p>Введёный пароль или логин неверен. Попробуйте ещё раз.</p>
        {% endif %}
        {% if next %}
        {% if user.is_authenticated %}
        <p>У вас нет доступак к этой странице.</p>
        {% else %}
        <p>Войдите, чтобы увидеть содержание этой страницы.</p>
        {% endif %}
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="input_login">
                <div><label for="id_username">Логин или телефон:</label><br>{{ form.username }}</div>
                <div>
                    {{ form.password.label_tag }} <br>{{ form.password }}
                </div>
            </div>
            <input type="submit" value="Войти" class="abtn btnfocus" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
    </div>
</main>
{% endblock %}