{% extends 'base_detail.html' %}

{% block data %}
	<a class="abtn btnfocus" href="">Потвердить заявку</a>
  	<p>{{verbose.status}}: {{ object.get_status_display }}</p>
  	<p>{{verbose.date_of_creation}}: {{ object.date_of_creation }}</p>
  	<p>{{verbose.creater}}: <a href=""> {{ object.creater }} </a></p>
  	<p>{{verbose.full_name}}: {{ object.full_name }}</p>
  	<p>{{verbose.phone_number}}: {{ object.phone_number }}</p>
  	<p>{{verbose.time_type}}: {{ object.get_time_type_display }}</p>
  	<p>{{verbose.date_of_completion}}: {{ object.date_of_completion }}</p>
  	<p>{{verbose.time_of_completion}}: {{ object.time_of_completion }}</p>
  	<p>{{verbose.comment}}: {{ object.comment }}</p>
  	<p>{{verbose.payment_type}}: {{ object.get_payment_type_display }}</p>
  	
  	<h3>Маршруты</h3>
  	<table class="table">
  		<tr>
  			<th></th>
  			<th>Из</th>
  			<th>Куда</th>
  			<th>Дистанция</th>
  		</tr>
  		{%for r in routs %}
  		<tr>
  			<td>{{forloop.counter}}</td>
  			<td>{{r.point_a}}</td>
  			<td>{{r.point_b}}</td>
  			<td>{{r.distance}} км.</td>
  		</tr>
  		{% endfor %}
  	</table>

  	
  	<h3>Персонал</h3>
  	  	<table class="table">
  		<tr>
  			<th></th>
  			<th>Выполняет</th>
  			<th>Роль</th>
  			<th>Найм на</th>
  		</tr>
  		{%for e in employees %}
  		<tr>
  			<td>{{forloop.counter}}</td>
  			<td>{{e.employee}}</td>
  			<td>{{e.group}}</td>
  			<td>{{e.hired_hours}} ч.</td>
  		</tr>
  		{% endfor %}
  		</table>

  	<h3>Транспорт</h3>
  	<table class="table">
  		<tr>
  			<th></th>
  			<th>Транспорт</th>
  			<th>Вид транспорта</th>
  			<th>Найм на</th>
  		</tr>
  		{%for t in transports %}
  		<tr>
  			<td>{{forloop.counter}}</td>
  			<td>{{t.transport}}</td>
  			<td>{{t.mode_transport}}</td>
  			<td>{{t.rental_hours}} ч.</td>
  		</tr>
  		{% endfor %}
	</table>

  	
  	<h3>Заказанная упаковка</h3>
  	<p>{{verbose.receiving_packaging}}: {{ object.get_receiving_packaging_display }}</p>
  	<table class="table">
  		<tr>
  			<th></th>
  			<th>Упаковки</th>
  			<th>Кол-во</th>
  			<th>ед. изм.</th>
  		</tr>
  		{%for p in packings %}
  		<tr>
  			<td>{{forloop.counter}}</td>
  			<td>{{p.packing}}</td>
  			<td>{{p.total}}</td>
  			<td>{{p.packing.unit}}</td>
  		</tr>
  		{% endfor %}
	</table>
{% endblock %}