{% extends 'base.html' %}

{% block content %}
<main>
	<div class="card">
		<h3>Оформление заказа</h3>
		<p>Если у вас что-то не получается, то можете <a href="">связаться</a> с нашим колл-центром или <a href="">оставить заявку</a> на консультацию, в случае сложностей с анализом переезда. </p>
	</div>
	<div class="card newrequestmove">

			<form action="" method="post">
				{% csrf_token %}
		        <table>
		        	{{ mvreq_form }}
		        </table>
<!-- 		        <ul>
		        	<li>
		        		<label for="">{{form.renewal_date}}</label>
		        	</li>
		        </ul> -->
		        <div class="calloda">
		        	<div class="mini_card">		        
			        	<h3>Точки назначения</h3>
				        <ul id="adding_route">
				        	<input type="hidden" id="routs_count" value={{routs_count}}>
					        {% for r in routs %}
						        <li id="zero_route">
						        	<input id="point_a{{forloop.counter0}}" name="point_a{{forloop.counter0}}" type="text" placeholder="Откуда" value="{{r.0}}" class="
						        	{% if not r.2 %}
						        	dont_valid
						        	{% endif %}
						        	">
						        	<span>🡢</span>
						        	<input id="point_b{{forloop.counter0}}" name="point_b{{forloop.counter0}}" type="text" placeholder="Куда" value="{{r.1}}" class="
						        	{% if not r.3 %}
						        	dont_valid
						        	{% endif %}
						        	">
						        	{% if not r.2 or not r.3%}
						        		<label for="{% if not r.2 %}point_a{% else %}point_b{% endif %}{{forloop.counter0}}" class="dont_valid_label">Поле должно быть заполнено.</label>
						        	{% endif %}
						        </li>
					        {% endfor %}
				        </ul>
				        <input id="add_route" class="abtn" type="button" value="Добавить">
			        </div>

					<div class="mini_card">		        
			        	<h3>Персонал</h3>
				        <ul>
				        	{% load order_extras %}
					        {% for er in employee_roles %}
					        <li>
					        	<label for="er_quan_{{ er.pk }}">{{ er }}</label>
					        	<input id="er_quan_{{ er.pk }}" name="er_quan_{{ er.pk }}" type="number" min="0" placeholder="Количество" title="Введите требуемое количество персонала" value="{{ emp_roles_post|get_quan:er.pk }}" class="{% if emp_roles_post|get_nothing_quan:er.pk %}dont_valid{% endif %}">
					        	<input id="er_hird_{{ er.pk }}" name="er_hird_{{ er.pk }}" type="number" min="0" placeholder="Время найма (в часах)" title="Введите требуемое время найма в часах" value="{{ emp_roles_post|get_hird:er.pk }}" class="{% if emp_roles_post|get_nothing_hird:er.pk %}dont_valid{% endif %}">

					        	{% if emp_roles_post|get_nothing_hird:er.pk or emp_roles_post|get_nothing_quan:er.pk %}
					        	<label for="{% if emp_roles_post|get_nothing_hird:er.pk %}er_hird_{{er.pk}}{% else %}er_quan_{{er.pk}}{% endif %}" class="dont_valid_label">Поле должно быть заполнено.</label>
					        	{% endif %}
					        </li>
					        {% endfor %}
				        </ul>
			        </div>

					<div class="mini_card">
				        <h3>Транспорт</h3>
				        <ul>
				        	{% if nothing_mode_transport %}
				        		<p class="dont_valid_label">Необходимо выбрать хотя бы одно транспортное средство.</p>
				        	{% endif %}
					        {% for mt in mode_transports %}
					        <li>
					        	<label for="mt_quan_{{ mt.pk }}">{{ mt }}</label>
					        	<input id="mt_quan_{{ mt.pk }}" name="mt_quan_{{ mt.pk }}" type="number" min="0" placeholder="Количество" title="Введите требуемое количество персонала" value="{{ mode_transport_post|get_quan:mt.pk }}" class="{% if mode_transport_post|get_nothing_quan:mt.pk %}dont_valid{% endif %}">
					        	<input id="mt_hird_{{ mt.pk }}" name="mt_hird_{{ mt.pk }}" type="number" min="0" placeholder="Время найма (в часах)" title="Введите требуемое время найма в часах" value="{{ mode_transport_post|get_hird:mt.pk }}" class="{% if mode_transport_post|get_nothing_hird:mt.pk %}dont_valid{% endif %}">

					        	{% if mode_transport_post|get_nothing_hird:mt.pk or mode_transport_post|get_nothing_quan:mt.pk %}
					        	<label for="{% if mode_transport_post|get_nothing_hird:mt.pk %}mt_hird_{{mt.pk}}{% else %}mt_quan_{{mt.pk}}{% endif %}" class="dont_valid_label">Поле должно быть заполнено.</label>
					        	{% endif %}
					        </li>
					        {% endfor %}
				        </ul>
					</div>

					<div class="mini_card">
			        	<h3>Упаковочный материал</h3>
				        <ul>
				        	{% for tp, packing in type_packings_with_packings.items %}
					        	{% if packing %}
					        	<li>{{ tp }}
						        	<ul>
						        		{% for p in packing %}
						        			<li>
						        				{{ p.name }}
						        				<input name="p_{{p.pk}}" type="number" min="0" placeholder="Количество" title="Введите требуемое количество упаковочного материала" value="{{packing_post|get:p.pk}}">
						        			</li>
						        		{% endfor %}
					        		</ul>
					        	</li>
					        	{% endif %}
				        	{% endfor %}
				        </ul>
			    	</div>
		    	</div>
		    	{{ help_text }}
			    <input class="abtn btnfocus" type="submit" value="Оставить заявку">
			</form>
		{% if type_packings_with_packings and mode_transports and employee_roles %}
		{% else %}
			<h2>Отсутствие значений для формирования правльного заказа</h2>
    		<p>К сожалению, что-то пошло не так, обратитесь в службу тех. поддежрки, или обратитесь в наш колл-центр для формирования заказа через телефон.</p>
        {% endif %}
	</div>
</main>
{% endblock %}