{% extends 'base.html' %}
{% block content %}
<main>
    <div class="card main_navigation">
        <h3 class="heading-page">Навигация</h3>

        <div class="a_main_navigation">
            <h2>Формы</h2>
            <p><a href="{% url 'moveorder_executor_list' %}">Выполнение заказов</a></p>
            <p><a href="{% url 'moveorder_executor_list' %}">Подтверждение заявок</a></p>
        </div>
        {% for key, value in applications.items %}
        <div>
        <h2>{{key}}</h2>
        {% for i in value %}
        {% if i.line_break %}
        <br>
        {% endif %}
        <p><a href="{{ i.url.list }}">{{i.verbose}}</a>{% if i.change_perm %} {% if i.url.add %} <a class="abtn" href="{{ i.url.add }}">Создать</a>{% endif %} {% endif %}</p>
        {% endfor %}
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}